<!-- templates/solicitudes_disponibles.html -->
{% extends "solicitudes_layout.html" %}

{% block content %}
  <h1 class="mb-4">Órdenes Disponibles / Reemplazo</h1>
  {% if mensaje %}
    <div class="alert alert-info">{{ mensaje }}</div>
  {% endif %}
  
  {% if solicitudes|length > 0 %}
    {% for orden in solicitudes %}
      <div class="card mb-3">
        <div class="card-body">
          <pre id="orderText{{ loop.index }}" style="white-space: pre-wrap; border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
Disponible ( {{ orden[0] }} )
📍 {{ orden[10] }} ( {{ orden[11] }} )
Ruta más cercana ( {{ orden[14] }} )

{{ orden[15] }}

Edad: {{ orden[16] }}
{{ orden[17] }}
Que sepa leer y escribir
Experiencia en: {{ orden[19] }}
Horario: {{ orden[20] }}

Funciones: {{ orden[21] }}

Casa: {{ orden[22] }}

{{ orden[23] }}

Sueldo:$ {{ orden[24] }}
{% if orden[25] %}
{{ orden[25] }}
{% endif %}
          </pre>
          <button class="btn btn-primary" onclick='copyOrderText("{{ loop.index }}")'>Copiar Orden</button>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No hay órdenes disponibles o de reemplazo para copiar.</p>
  {% endif %}
  
  <script>
    function copyOrderText(index) {
      var text = document.getElementById("orderText" + index).innerText;
      navigator.clipboard.writeText(text).then(function() {
        alert("Orden copiada al portapapeles");
      }).catch(function(err) {
        alert("Error al copiar la orden: " + err);
      });
    }
  </script>
{% endblock %}
